<header>
   <nav style="display: flex; justify-content: space-between;">
      <a href="">Dolor sit.</a>
      <a href="">Amet, consectetur.</a>
      <a href="">Adipiscing elit.</a>
      <a href="">Fusce vel.</a>
      <a href="">Sapien elit.</a>
   </nav>
</header>